<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs types</title>
</head>
<body>
<div style="border: 1px solid dimgrey; margin: 5px; padding: 10px">
    {{#if error}}
        <p style="color: darkred; font-weight: bold; font-style: oblique;">
            Error: {{error}}
        </p>
    {{/if}}
    {{#if data}}
        <table style="border: 1px solid black">
            <thead style="background: #bbc8ed;">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Специализация</th>
                <th>Профессия</th>
            </tr>
            </thead>
            <tbody>
            {{#each data}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{speciality}}</td>
                    <td>{{profession}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}
</div>
<div style="border: 1px solid dimgrey; margin: 5px; padding: 10px">
    <h1>Создать тип задач</h1>
    <form action="/jobtypes/add" method="post">
        <div>Название</div>
        <label><input type="text" name="name"/></label>
        <div>Специализация</div>
        <label><input type="text" name="speciality"/></label>
        <div>Профессия</div>
        <label><input type="text" name="profession"/></label>
        <div>
            <input type="submit" value="Добавить"/>
        </div>
    </form>
</div>
<div style="border: 1px solid dimgrey; margin: 5px; padding: 10px">
    <h1>Обновить тип задач</h1>
    <form action="/jobtypes/update" method="post">
        <div>ID</div>
        <label><input type="text" name="id"/></label>
        <div>Название</div>
        <label><input type="text" name="name"/></label>
        <div>Специализация</div>
        <label><input type="text" name="speciality"/></label>
        <div>Профессия</div>
        <label><input type="text" name="profession"/></label>
        <div>
            <input type="submit" value="Обновить"/>
        </div>
    </form>
</div>
<div style="border: 1px solid dimgrey; margin: 5px; padding: 10px">
    <h1>Удалить тип задач</h1>
    <form action="/jobtypes/delete" method="post">
        <div>ID</div>
        <label><input type="text" name="id"/></label>
        <div>
            <input type="submit" value="Удалить"/>
        </div>
    </form>
</div>
</body>
</html>