<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="border: 1px solid dimgrey; margin: 5px; padding: 10px">
    {{#if error}}
        <p style="color: darkred; font-weight: bold; font-style: oblique;">
            Error: {{error}}
        </p>
    {{/if}}
    {{#if data}}
        <table style="border: 1px solid black">
            <thead style="background: #bbc8ed;">
            <tr>
                <th>ID</th>
                <th>Кол-во мест</th>
                <th>Профессия</th>
                <th>Офис</th>
            </tr>
            </thead>
            <tbody>
            {{#each data}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{capacity}}</td>
                    <td>{{profession}}</td>
                    <td>{{office}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}
</div>
<div style="border: 1px solid dimgrey; margin: 5px; padding: 10px">
    <h1>Создать вакансию</h1>
    <form action="/vacancies/add" method="post">
        <div>Кол-во мест</div>
        <label><input type="text" name="capacity"/></label>
        <div>Профессия</div>
        <label><input type="text" name="profession"/></label>
        <div>Офис</div>
        <label><input type="text" name="office"/></label>
        <div>
            <input type="submit" value="Добавить"/>
        </div>
    </form>
</div>
<div style="border: 1px solid dimgrey; margin: 5px; padding: 10px">
    <h1>Обновить вакансию</h1>
    <form action="/vacancies/update" method="post">
        <div>ID</div>
        <label><input type="text" name="id"/></label>
        <div>Кол-во мест</div>
        <label><input type="text" name="capacity"/></label>
        <div>Профессия</div>
        <label><input type="text" name="profession"/></label>
        <div>Офис</div>
        <label><input type="text" name="office"/></label>
        <div>
            <input type="submit" value="Обновить"/>
        </div>
    </form>
</div>
<div style="border: 1px solid dimgrey; margin: 5px; padding: 10px">
    <h1>Удалить вакансию</h1>
    <form action="/vacancies/delete" method="post">
        <div>ID</div>
        <label><input type="text" name="id"/></label>
        <div>
            <input type="submit" value="Удалить"/>
        </div>
    </form>
</div>
</body>
</html>